<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con"
        connectionString=
          "Data Source = DESKTOP-944BR9T\SQLEXPRESS; Database = Ternovan_Lab; Integrated Security = true"
    />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="parentname" value="seasons"/>
    <add key="childname" value="episodes"/>
    <add key="selectparent" value="select * from seasons"/>
    <add key="selectchild" value="select* from episodes"/>
    <add key="foreignkeyname" value="seasonsepisodes"/>
    <add key="foreignkeycol" value="seasonid"/>
  </appSettings>
  <!--<appSettings>
    <add key="parentname" value="writers"/>
    <add key="childname" value="writerspet"/>
    <add key="selectparent" value="select * from writers"/>
    <add key="selectchild" value="select * from writerspet"/>
    <add key="foreignkeyname" value="writerswriterspet"/>
    <add key="foreignkeycol" value="writerid"/>
  </appSettings>-->

</configuration>

